@import url('./animations.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'urzeit';
	src: url('../fonts/Urzeit.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/BebasNeue.ttf');
	font-weight: normal;
	font-style: normal;
}
.font-urzeit {
	font-family: 'urzeit', sans-serif;
}
.font-bebas {
	font-family: 'BebasNeue', sans-serif;
}

.bg-hero {
	background-position: center;
	background-size: cover;
}

.bg-hero--start {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url(../img/pragma02.jpg);
}
.bg-hero--news {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../img/pragma07.jpg);
}
.bg-hero--aboutus {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url(../img/pragma09.png);
}
.bg-hero--contact {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url(../img/pragma06.png);
}
