@import url('./animations.css');

@font-face {
	font-family: 'urzeit';
	src: url('../fonts/Urzeit.ttf');
	font-weight: normal;
	font-style: normal;
	/* font-display: block; */
}
.font-urzeit {
	font-family: 'urzeit';
}

@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/BebasNeue.ttf');
	font-weight: normal;
	font-style: normal;
}
.font-bebas {
	font-family: 'BebasNeue';
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hero {
	background-position: center;
	background-size: cover;
}

.bg-hero--01 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(../img/pragma01.jpg);
}

.bg-hero--02 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url(../img/pragma02.jpg);
}

.bg-hero--03 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url(../img/pragma03.jpg);
}
